<monorepo-upc-mega-menu></monorepo-upc-mega-menu>
<h1>helo1</h1>


<!--<ol>
    <li *ngFor="let item of listadoUsuarios">{{item.name}}</li>
</ol>
<div *ngFor="let item of listadoUsuarios">
    <div id="hero" class="rounded">
      <div class="text-container">
        <h2>
          <span>{{item.name}} - {{item.email}}</span>
        </h2>
      </div>
    </div>
  </div>-->
  
<monorepo-upc-tabla-filtrado [listaColumnas]="listaCol" [listaFilas]="listadoUsuarios"></monorepo-upc-tabla-filtrado>
<router-outlet></router-outlet>
