<h4>PAg 1</h4>
  <table id="estudiantes" class="table table-striped">
    <thead>
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Juan</td>
        <td>Perez</td>
        <td>juan.perezexample.com</td>
        <td>
          <button type="button" class="btn btn-primary">Actualizar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-info">Ver</button>
        </td>
      </tr>
      <tr>
        <td>Maria</td>
        <td>Rodriguez</td>
        <td>maria.rodriguezexample.com</td>
        <td>
          <button type="button" class="btn btn-primary">Actualizar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-info">Ver</button>
        </td>
      </tr>
      <tr>
        <td>Pedro</td>
        <td>Gonzalez</td>
        <td>pedro.gonzalezexample.com</td>
        <td>
          <button type="button" class="btn btn-primary">Actualizar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-info">Ver</button>
        </td>
      </tr>
    </tbody>
  </table>
