<div>

  <monorepo-upc-filter-table [listaColumnas]="listaColum2" [listaFilas]="listaTodos"></monorepo-upc-filter-table>
<h1>pagina1 works!</h1>
<monorepo-upc-filter-table [listaColumnas]="listaColum2" [listaFilas]="listaAlbums"></monorepo-upc-filter-table>
<h1>pagina1 works!</h1>
<h1>pagina1 works!</h1>
<h1>pagina1 works!</h1>
<h1>pagina1 works!</h1>



<monorepo-upc-filter-table [listaColumnas]="listaColum" [listaFilas]="listaPhotos"></monorepo-upc-filter-table>


<h1>pagina1 works!</h1>
<h1>pagina1 works!</h1>
<h1>pagina1 works!</h1>
<h1>pagina1 works!</h1>
<h1>pagina1 works!</h1>


</div>
